html{
    font-family: 'Noto Sans', sans-serif;
    font-size: 62.5%;
}
body{
padding: 0;
margin: 0 auto;
background-color: rgba(0,0,51,0.08);
overflow-x: hidden;
}
container{
    margin: 0 auto;
    width: 95%;
}
header{
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
#header-img{
    height: 100vh;
    width: auto;
    position: relative;
    z-index: 20;
}
@media (hover: none){
    #header-img{
    z-index: 0;
    width: 100vw;
    height: auto;
    top:80px;
    }
}
#fixed-header{
    position: fixed;
    top: 0px;
    z-index: 10;
    background-color: white;
    display: grid;
    grid-template-rows: fit-content fit-content;
    grid-template-columns: 50vw 50vw;
    grid-template-areas: 
        "sale sale" 
        "logo nav";
    align-items: stretch;
    grid-gap: 0;
    box-shadow: 0 5px 5px -7px rgba(0,0,51,0.8);
    margin: 0;
    padding: 0;
}
@media(max-width: 650px), (max-height: 650px){
    #fixed-header{
        grid-template-rows: fit-content fit-content fit-content;
        grid-template-columns: 100vw;
        grid-template-areas: 
            "sale" 
            "logo"
            "nav";
        justify-items: center;
    }
}

#logo{
    grid-area: logo;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
    padding: 0;
}
#logo img{
    height: 45px;
    margin: 0 15px;
    padding: 0;
}
@media(max-width: 650px), (max-height: 650px){
    #logo img{
        margin: 0 15px 0 0;
    }
}
@media(hover:none){
    #logo-img{
        height: 20px;
    }
}
#logo h1{
    font-size: 2.8em;
    color: #000033;
    margin: 0;
    padding: 0;
}
@media(hover:none){
    #logo h1{
        font-size: 1.8em;
    }
}
#sale-banner{
    background-color: #000033;
    font-size: 1.5em;
    color: white;
    text-align: center;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 0 auto;
    grid-area: sale;
}
@media(hover:none){
    #sale-banner{
        font-size: 0.9em;
    }
}
#nav-bar{
    margin: 0;
    padding: 10px 20px 10px 10px;
    grid-area: nav;
    align-self: center;
}
@media(max-width:650px), (max-height: 650px){
    #nav-bar{
        padding: 10px;
    }
}
@media(hover:none){
    #nav-bar{
        padding: 5px;
    }
}
#nav-bar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
#nav-bar ul li{
    padding: 5px;
    padding-right: 15px;
    padding-left: 15px;
    text-align: center;
}
#nav-bar ul li:hover{
    background-color: rgba(0,0,51,0.1);
    box-shadow: 0 0 0.3em rgba(0,0,51,0.5);
}
.nav-link{
    text-decoration: none;
    color: #000033;
    font-size: 2em;
    font-weight: bold;
}
@media(hover: none){
    .nav-link{font-size: 1.5em;
    }
}
#menu-anchor{
    height: 50px;
    margin: 0;
}
#products{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.product{
    margin: 50px 30px 50px 30px;
    box-shadow: 5px 0 5px -7px rgba(0,0,51,0.8), -5px 0 5px -7px rgba(0,0,51,0.8), 0 -5px 5px -7px rgba(0,0,51,0.8);
    padding: 0;
    width: 300px;
    height: 300px;
}
.product img{
    width: 300px;
    height: 300px;
}
.product-name{
    opacity: 0;
    z-index: 1;
    text-align: center;
    width: 100%;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    background-color: white;
    position: relative;
    bottom: 330px;
    border: 1px inset rgba(0,0,51,0.8);
    box-shadow: 0 0 0.5em rgba(0,0,51,0.8);
    transition: all 0.5s ease;
}
.product a{
    text-decoration: none;
    color: #000033;
    font-size: 2em;
    font-weight: bold;
}
.product:hover{
    box-shadow: 5px 0 15px -4px rgba(0,0,51,0.3), -5px 0 15px -4px rgba(0,0,51,0.3), 0 -5px 15px -4px rgba(0,0,51,0.3);
}
.product:hover img{
    opacity: 0.7;
}
.product:hover .product-name{
    opacity: 1;
    bottom: 300px;
}
#recipes-anchor{
    height: 50px;
    margin: 0;
}
#recipes{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #000033;
    color: white;
    font-size: 2em;
    font-weight: normal;
    padding: 10px;
}
#video{
    border: 8px solid white;
}
@media(max-width: 650px){
    #video{
        width: 504px;
        height: 283.5px;
    }
}
@media(max-width: 525px){
    #video{
        width: 392px;
        height: 220.5px;
    }
}
@media(max-width: 400px){
    #video{
        width: 252px;
        height: 141.75px;
    }
}
form{
    width: 650px;
    max-width: 80%;
    text-align: center;
    margin: 20px;
}
label{
    display: block;
    font-size: 0.8em;
}
#email-submit{
    margin: 10px auto;
}
#email{
    border: none;
    background-color: white;
    color: #000033;
    border-radius: 10px;
    height: 2.5em;
    padding: 0 15px;
    margin: 0 10px;
}
#submit{
    border: none;
    background-color: white;
    color: #000033;
    font-weight: bold;
    border-radius: 10px;
    height: 2.5em;
    padding: 0 15px;
    margin: 0 10px;
}
#submit:hover{
    color: #ae0101;
}
#submit:active{
    background-color: #ae0101;
    color: white;
}
footer{
    text-align: right;
    background-color: rgba(0,0,51,0.08);
    font-size: 1.5em;
}
